body {
	display: flex;
	align-items: center;
	font-family: Helvetica, sans-serif;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
}

/*Header*/
header {
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 69px;
	border-bottom: 1px solid seashell;
	position: fixed;
}

.logo {
	display: inline-flex;
	flex-grow: 1;
	padding-left: 10px;
}

.logo img {
	height: 50px;
}
 
header nav {
		display: inline-flex;
} 

header span {
	padding: 0 20px;
}

header a {
	color: seashell;
}

/*Main*/
