body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Helvetica, sans-serif;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
}

/*Header*/
header {
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 69px;
	background-color: black;
	border-bottom: 1px solid seashell;
	position: fixed;
	z-index: 1;
}

.logo {
	display: inline-flex;
	flex-grow: 1;
	padding-left: 10px;
}

.logo img {
	height: 50px;
}
 
header nav {
		display: inline-flex;
} 

header span {
	padding: 0 20px;
}

header a {
	color: seashell;
}

/*Main*/
content {
	display: flex;
	flex-direction: column;
	align-items: space-between;
	border: 1px solid white;
	width: 1200px;
	position: relative;
}

h2, h3 ,h4 {
	margin: 0;
	padding: 10px;
}

/*Mission*/
#mission {
	display: flex;
	align-items: center;
	background-image: url("../images/mission.jpg");
	height: 700px;
}

.parent { 
	display: flex;
	justify-content: center;
	text-align: center;
	border: 1px solid white;
	padding-top: 70px;
}

#mission .img-content {
	background-color: black;
	width: 1200px;
}

/*Featured*/
#featured {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 1000px;
	height: 700px;
	margin: 0 100px;
}

.menu {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}

.goodies {
	padding: 5px;
	font-weight: bold;
}

.goodies img {
	display: block;
	width: 300px;
	height: 200px;
	margin: 10px;
}

/*Locations*/
#locations {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-image: url("../images/locations.jpg");
	height: 500px;
}

.squares {
	display: flex;
	justify-content: center;
}

.square {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 300px;
	height: 280px;
	background-color: black;
	color: seashell;
	opacity: 0.9;
	margin: 5px 20px;
}
